@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital@1&family=Quattrocento+Sans&family=Sofia&display=swap');
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
a {
  text-decoration: none;
}
.brandName {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 70px;
  background-color: rgba(255, 245, 240,1);
  color: #000015 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 100;
}
.brandName > h1 {
  font-family: 'Rampart One';
  font-size: 30px;
  margin: 0;
  text-align: center;
  color: #000015;
}
.brandName > p {
  font-family: 'Open Sans';
  font-size: 10px;
  text-align: center !important;
  padding: 0;
  margin: 0;
  margin-left: 90px;
}

body{
    background-color: black;
    overflow-x: hidden;
    margin: 0;
}

#total__bg{
    position: relative;
    margin: auto;
    width: 70vw;
}

.route{
    display: flex;
    color: #f0f0f0;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    margin-top: 20px;
    justify-content: space-around;
}

#startDest {
    text-align: center;
    margin-top: 15px;
    font-weight: 600;
}
#startDestImg {
    width: 200px;
    height: 200px;
    padding: 30px 10px;
    object-fit: cover;
}
#endDest {
    text-align: center;
    margin-top: 15px;
    font-weight: 600;
}
#endDestImg {
    width: 200px;
    height: 200px;
    padding: 30px 10px;
    object-fit: cover;
}

.flightName{
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
    padding: 10px;
}

.time__interval{
    display: flex;
    font-size: x-large;
}

.reachingTime{
    position: absolute;
    right: 25%;
}

.route img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.timeTravelled{
    margin: auto;
}

.availableSeats__total{
    display: flex;
    margin: 20px;
}

.price{
  position: absolute;
  right: 100px;
  font-size: x-large;
  font-weight: 500;
}

.departureTime{
  position: absolute;
  left: 25%;
}

.price__total{
    display: flex;
    font-size: x-large;
    margin: 20px;
}

.bookTickets{
    border-radius: 10px;
    font-size: large;
    cursor: pointer;
    background-color: #d42f2f;
    position: absolute;
    padding: 10px;
    right: 80px;
    text-decoration: none;
    color: #cfc4c4;
    /* z-index: 10000; */
}

.passengerDetailsForm{
    display: grid;
    place-items : center;
}

.availableSeats{
    font-size: x-large;
    width: fit-content;
    margin-top: 15px;
}

.flight__details{
    margin: 50px;
    padding: 20px;
    border-radius: 20px;
    height: -10vw;
    background: linear-gradient(225deg, #cfc4c4, #bebcbc);
    box-shadow:  -2px 2px 12px #5a5a5a,
                2px -2px 12px #ffffff;
}

.graph__wrapper{
    /* padding-left: 50px; */
    margin-left: -110px;
    padding-top: 70px;
}

.path { 
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 3s linear forwards; 
    animation-iteration-count: 1;
    animation-delay: 1s;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
.dashed{
  stroke-dasharray: 5,12;
  
}
#arrow{animation: arrow 2s linear forwards; opacity:0;}
@keyframes arrow {
  to {
    opacity: 1;
  }
}

.box {
  margin: 10px 10px;
  font-size: 18px;
  color: #020202;
  background-color: #eee;
  border-radius: 5px;
  /* box-shadow: 4px 4px #ccc; */
  outline-width: 0px;
  /* border: 0; */
}

#finalBookTickets{
  position: absolute;
  left: 50%;
  bottom: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: #d42f2f;
  border-radius: 10px;
}

.passengerDetailsForm input{
  margin: 15px 0;
  height: 24px;
  width : 350px;
  border-style: solid;
  border-width: 1px 1px 2px;
  border-color: transparent transparent #304345;
  font-family: Quattrocento,sans-serif;
  color: #304345;
  font-size: 20px;
  line-height: 50px;
  font-weight: 300;
  outline: 0;
  transition: 1s;
}

.flightNameAndPrice{
  display: flex;
}

.passengerDetailsForm input:focus{
  border-color: transparent transparent #ee0138;
}

.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
  }
  
  .modal:target {
    visibility: visible;
    opacity: 1;
  }
  
  .modal__content {
    border-radius: 4px;
    position: relative;
    width: 360px;
    max-width: 90%;
    background: #fff;
    padding: 1em 2em;
    border-radius: 20px;
  }
  
  .modal__footer {
    text-align: right;
  }
  .modal__footer a {
      color: #585858;
    }
    .modal__footer i {
      color: #d02d2c;
    }
  
  .modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #585858;
    text-decoration: none;
    font-size: 25px;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    opacity: 0.5;
    font-size: 18px;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    opacity: 0.5;
    font-size: 18px;
  }
  :-ms-input-placeholder { /* IE 10+ */
    opacity: 0.5;
    font-size: 18px;
  }
  :-moz-placeholder { /* Firefox 18- */
    opacity: 0.5;
    font-size: 18px;
  }
  
  #cabin {
      display: flex;
      align-items: center;
      margin-bottom: 60px;
      margin-left: 30px;
  }

  

#arrowAnim {
    width: 700px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(180deg);
    margin-left: 40px;
  }
  
  .arrow {
    width: 25px;
    height: 25px;
    border: 10px solid;
    border-color: white transparent transparent white;
    transform: rotate(-45deg);
  }
  
  
  .arrowSliding {
    position: absolute;
    -webkit-animation: slide 4s linear infinite; 
            animation: slide 4s linear infinite;
  }
  
  .delay1 {
    -webkit-animation-delay: 1s; 
      animation-delay: 1s;
  }
  .delay2 {
    -webkit-animation-delay: 2s; 
      animation-delay: 2s;
  }
  .delay3 {
    -webkit-animation-delay: 3s; 
      animation-delay: 3s;
  }
  
  @-webkit-keyframes slide {
      0% { opacity:0; transform: translateX(200px); }  
     20% { opacity:1; transform: translateX(100px); } 
     80% { opacity:1; transform: translateX(100px); }  
    100% { opacity:0; transform: translateX(200px); } 
  }
  @keyframes slide {
      0% { opacity:0; transform: translateX(200px); }  
     20% { opacity:1; transform: translateX(100px); } 
     80% { opacity:1; transform: translateX(-100px); }  
    100% { opacity:0; transform: translateX(-200px); } 
  }
  
  